[submodule "src/dhcp-pkt"]
	path = src/dhcp-pkt
	url = https://github.com/alirezaarzehgar/dhcp-pkt
[submodule "src/dhcp-lease"]
	path = src/dhcp-lease
	url = https://github.com/alirezaarzehgar/dhcp-lease.git
[submodule "src/dhcp-cli"]
	path = src/dhcp-cli
	url = https://github.com/alirezaarzehgar/dhcp-cli.git
[submodule "src/dhcp-network"]
	path = src/dhcp-network
	url = https://github.com/alirezaarzehgar/dhcp-network.git
